*{
    box-sizing: border-box;
    border-width: 2px;
}
html{
    background-color: grey;
}
body{
    margin: 0;
    background-color: rgb(77, 76, 92);
    width: 500px;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
}
#check{
    text-align: center;
}
header{
    background-color: rgba(9, 9, 9, 0.15) ;
    text-align: center;
    padding: 25px ;
}
h1{
    color: rgb(248, 247, 246);
    text-align: center;
    font-family:monospace;
    font-size: 50px;
}
h2{
    color: white;
    font-family: monospace;
    font-size: 40px;
    text-align: center;
}
.MyH1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.ap{
    font-size: 15px;
    color:rgb(246, 246, 245);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.bp{
    font-size: 15px;
    color:rgb(246, 246, 245);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
ol{
    color: antiquewhite;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
}
aside{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(244, 244, 244);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 490x;
    border-radius: 10px;
    float: left;
}
.box1{
    align-items: end;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    float: left;
  }
  
  .sidebar {
    width: 100px;
    background-color: #333;
    color: #fff;
    padding-top: 25px;
    height:950px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
.sidebar ul li:hover{
    background-color: rgb(56, 55, 55);
}
.navbar li{
    float: left;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
footer{
    display: block;
    clear: both;
    background-color:rgb(52, 48, 61) ;
    text-align: center; 
    padding: 25px;
}